@model Covid19Testing.Models.TblBiodata
@using Covid19Testing.Utils

@{
    ViewData["Title"] = "Details";
}

<h2>Biodata</h2>

<div>
    <hr />

    <div style="color:red" align="center">
        @if (ViewBag.BiodataNotValidated != null)
        {
            @Html.Raw("Please edit biodata and provide all the required fields.")
        }
    </div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fullname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fullname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LegalGardianName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LegalGardianName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dateofbirth)
        </dt>
        <dd>
            @Model.Dateofbirth.ToString("dd/MMM/yy")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GenderNavigation.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GenderNavigation.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EpidNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EpidNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocalPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocalPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomePhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomePhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResidentialAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResidentialAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InsertTime)
        </dt>
        <dd>
            @Utils.toFulldate(@Model.InsertTime.Value)
            @*@Html.DisplayFor(model => model.InsertTime.Value.ToString("dd/MMM/yy hh:mm tt"))*@
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InsertBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InsertBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>
        <dd>
            @Utils.toFulldate(@Model.UpdateTime.Value)
            @*@Html.DisplayFor(model => model.UpdateTime.Value.ToString("dd/MMM/yy hh:mm tt"))*@
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit Biodata</a> |
    <a asp-action="Index">Biodata Search Page</a> |
    @*<a asp-action="Create" asp-controller="LabTests" asp-route-id="@Model.Id">COVID-19 TESTING FORM</a>*@


    <form method="get" asp-action="Create" asp-controller="LabTests">
        <input type="hidden" asp-for="Id" />
        @if (ViewBag.BiodataNotValidated != null)
        {
            <input type="submit" value="Create New" class="btn btn-default" disabled="disabled" />
        }
        else
        {
            <input type="submit" value="Create New" class="btn btn-default" />
        } |
        COVID-19 TESTING FORM
    </form>


</div>
