@*@model IEnumerable<Covid19Testing.Models.TblLabTests>*@

@model PagedList.Core.IPagedList<Covid19Testing.ViewModels.LabTestDetailsViewModel>
@addTagHelper *, PagedList.Core.Mvc

@{
    ViewData["Title"] = "Index";
    DateTime dt = DateTime.Now;
}

<h2>COVID-19 TESTING RESULTs</h2>

@*<p align="right">
    <a asp-action="Index" asp-controller="Biodata">Biodata Search Page</a>
</p>*@

<table class="table">
    <thead>
        <tr>

            <th>
                EPID-No
            </th>
            <th>
                Testing date
            </th>
            <th>
                Testing time
            </th>
            <th>
                Interpretation
            </th>
            <th>
                Reporting date
            </th>
            <th>
                Reporting time
            </th>

            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string testing = (dt + @item.LabTest.TestingTime.Value).ToString("hh:mm tt");
            string reporting = "";
            if (@item.LabTest.ReportingDate != null)
            {
                reporting = (dt + @item.LabTest.ReportingTime.Value).ToString("hh:mm tt");
            }

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BioData.EpidNo)
            </td>
            <td>
                @item.LabTest.TestingDate.Value.ToString("dd/MMM/yy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => testing)
            </td>
            @{
                //"lightskyblue"
                string @style = (item.LabTest.Interpretation == 1) ? "red" : (item.LabTest.Interpretation == 2) ? "greenyellow" : "lightgray";
            }
            <td style="background-color: @style ">
                @if (item.LabTest.Interpretation == 97)
                {
                    @Html.Raw("NO RESULT")
                }
                else if (item.LabTest.Interpretation == 1)
                {
                    @Html.Raw("POSITIVE")
                }
                else if (item.LabTest.Interpretation == 2)
                {
                    @Html.Raw("NEGATIVE")
                }
                else
                {
                    @Html.Raw("-")
                }
            </td>
            <td>
                @if (item.LabTest.ReportingDate == null)
                {
                    @Html.Raw("-")
                }
                else
                {
                    @item.LabTest.ReportingDate.Value.ToString("dd/MMM/yy")
                }

            </td>
            <td>
                @if (item.LabTest.ReportingTime == null)
                {
                    @Html.Raw("-")
                }
                else
                {
                    @Html.DisplayFor(modelItem => reporting)
                }
            </td>

            <td>
                @if (item.LabTest.Interpretation != 97)
                {
                    @Html.Raw("PENDING")
                }
                else if (item.LabTest.Approved.HasValue && item.LabTest.Approved.Value)
                {
                    @Html.Raw("APPROVED")
                }
                else
                {
                    @Html.Raw("-");
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LabTest.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LabTest.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LabTest.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
