@*@model IEnumerable<Covid19Testing.Models.TblLabTests>*@

@model PagedList.Core.IPagedList<Covid19Testing.ViewModels.LabTestDetailsViewModel>
@addTagHelper *, PagedList.Core.Mvc

@using Covid19Testing.Utils

@{
    ViewData["Title"] = "Index";
}


<h2>COVID-19 TESTING RESULTs</h2>

@*<p align="right">
        <a asp-action="Index" asp-controller="Biodata">Biodata Search Page</a>
    </p>*@

<hr />

@*<p align="right">
        <a asp-action="xx">Export to Excel (NOK)</a>
    </p>*@

<div align="right">
    <form asp-action="SyncfusionExportExcel" method="post" id="GenerateExcel">
        @*<input type="hidden" name="tokenId" id="tokenId" />
        <input type="hidden" name="Id" value="@Model.LabTest.Id" />*@
        <input type="hidden" name="tokenId" id="tokenId" />
        <input type="hidden" name="date1" value="@ViewBag.date1" />
        <input type="hidden" name="date2" value="@ViewBag.date2" />
        <input type="submit" value="Export to Excel" class="btn btn-default download" />
    </form>
</div>

<form method="get" asp-controller="LabTests" asp-action="search">
    <div class="input-group">

        @*<table style="border-collapse:separate;border-spacing:0 5px;">
                <tr><td>From:</td><td><input name="date1" value="@ViewBag.date1" placeholder="From date" type="date" /><br /></td><td><input type="checkbox" name="cleardate1" /> reset</td></tr>
                <tr><td>To:</td><td><input name="date2" value="@ViewBag.date2" placeholder="To date" type="date" /><br /></td><td><input type="checkbox" name="cleardate2" /> reset</td></tr>
                <tr><td></td><td colspan="2"><button type="submit">Search</button></td></tr>
            </table>*@
        <table>
            <tr>
                <td>From: </td>
                <td><input name="date1" value="@ViewBag.date1" placeholder="From date" type="date" /></td>
                <td>To: </td>
                <td><input name="date2" value="@ViewBag.date2" placeholder="To date" type="date" /></td>
                <td><button type="submit">Search</button></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="checkbox" name="cleardate1" /> reset</td>
                <td></td>
                <td><input type="checkbox" name="cleardate2" /> reset</td>
                <td></td>
            </tr>
        </table>
    </div>
</form>

<table class="table">
    <thead>
        <tr>

            <th>
                EPID-NO
            </th>
            <th>
                Testing date
            </th>
            <th>
                Interpretation
            </th>
            <th>
                Reporting date
            </th>
            <th>
                Approval
            </th>
            <th>
                Email Sent
            </th>
            <th>
                Published
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="6" style="color:red" align="center">
                    No Covid19 test found.
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {

                <tr>
                    <td>

                        <a data-toggle="modal" data-target="#show-biodata" class="biodatalink" data-id="@item.BioData.Id">
                            @Html.DisplayFor(modelItem => item.BioData.EpidNo)
                        </a>


                    </td>
                    <td>
                        @Utils.toShortdate(@item.LabTest.TestingDate) @Utils.time12Hr(@item.LabTest.TestingTime)
                    </td>
                    @*<td>
                            @Utils.time12Hr(@item.LabTest.TestingTime)
                        </td>*@
                    @{
                        //"lightskyblue"
                        string @style = (item.LabTest.Interpretation == 1) ? "red" : (item.LabTest.Interpretation == 2) ? "greenyellow" : "lightgray";
                    }
                    <td style="background-color: @style ">
                        @if (item.LabTest.Interpretation == 97)
                        {
                            @Html.Raw("NO RESULT")
                        }
                        else if (item.LabTest.Interpretation == 1)
                        {
                            @Html.Raw("POSITIVE")
                        }
                        else if (item.LabTest.Interpretation == 2)
                        {
                            @Html.Raw("NEGATIVE")
                        }
                        else
                        {
                            @Html.Raw("-")
                        }
                    </td>
                    <td>

                        @Utils.toShortdate(@item.LabTest.ReportingDate) @Utils.time12Hr(@item.LabTest.ReportingTime)

                    </td>
                    @*<td>
                            @Utils.time12Hr(@item.LabTest.ReportingTime)
                        </td>*@

                    @{
                        string isapproved = "-";
                        style = "none";

                        if (@item.LabTest.Approved.HasValue && @item.LabTest.Approved.Value)
                        {
                            isapproved = "APPROVED";
                            style = "greenyellow";
                        }
                        else if (item.LabTest.Interpretation != 97)
                        {
                            isapproved = "PENDING";
                        }

                    }

                    <td style="background-color: @style">
                        @isapproved
                    </td>

                    <td>
                        @Utils.toShortdate(@item.LabTest.SentEmailTime)
                    </td>
                    <td>
                        @Utils.toShortdate(@item.LabTest.PushedSvrTime)
                    </td>
                    <td>
                        @if (item.LabTest.Approved == null || !item.LabTest.Approved.Value)
                        {
                            <a asp-action="Edit" asp-route-id="@item.LabTest.Id">Edit</a> @Html.Raw("|")

                        }

                        <a asp-action="Details" asp-route-id="@item.LabTest.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.LabTest.Id">Delete</a>
                    </td>
                </tr>
            }

        }

        <tr>
            <td colspan="7" align="left">
                <pager list="@Model" asp-controller="LabTests" asp-action="search" />
            </td>
        </tr>
    </tbody>
</table>

<div id="show-biodata" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Biodata</h4>
            </div>
            <div class="modal-body" id="show-biodata-modal-body">




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts {

    <script type="text/javascript">

        var biodata_link = null;
        $(document).ready(function () {

            $('#GenerateExcel').submit(function (e) {

                //if ($('#phaseId').val() == "") {
                //    $('#errorMsg').show(); 4
                //    e.preventDefault();
                //} else {
                blockUIForDownload();
                //}
            });

            $(".biodatalink").click(function () {
                biodata_link = $(this);
            });

            $('#show-biodata').on('show.bs.modal', function () {

                var id = biodata_link.data("id")
                //do ajax
                debugger;

                 $.ajax({
                        url: '@Url.Action("GetBiodata", "LabTests")',
                        dataType: 'json',
                        async: false,
                        type: 'POST',
                         data: { _id: id },
                        success: function (data) {
                            if (data.IsSuccessful) {

                                var subj = JSON.parse(data.JSONData);

                                debugger;

                                var divModalBody = $("#show-biodata-modal-body");
                                divModalBody.empty();

                                var input = `   <dl class="dl-horizontal">
                                                <dt>
                                                   Fullname
                                                </dt>
                                                <dd>
                                                     `+ subj.Fullname +`
                                                </dd>
                                                <dt>
                                                    Gardian
                                                </dt>
                                                <dd>
                                                    `+ subj.LegalGardianName +`
                                                </dd>
                                                <dt>
                                                    DOB
                                                </dt>
                                                <dd>
                                                    `+ subj._dob +`
                                                </dd>
                                                <dt>
                                                    Gender
                                                </dt>
                                                <dd>
                                                    `+ subj._genderName +`
                                                </dd>
                                                <dt>
                                                    EPID-NO
                                                </dt>
                                                <dd>
                                                    `+ subj.EpidNo +`
                                                </dd>
                                                <dt>
                                                    Local Phone
                                                </dt>
                                                <dd>
                                                    `+ subj.LocalPhone +`
                                                </dd>
                                                <dt>
                                                    Intl. Phone
                                                </dt>
                                                <dd>
                                                    `+ subj.HomePhone +`
                                                </dd>
                                                <dt>
                                                    Address
                                                </dt>
                                                <dd>
                                                    `+ subj.ResidentialAddress +`
                                                </dd>
                                            </dl>`

                                divModalBody.append(input);

                            }
                            else {
                                console.log(data.Message);
                            }
                        },
                        error: function (err) { console.log(JSON.stringify(err)); }
                    });


            });

        });
    </script>

}
