@model Covid19Testing.Models.TblMailingLists

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

@{

    var Groups = (Dictionary<int, string>)ViewBag.Groups;

}
<div align="right">
    <input type="submit" value="Add New Mailing Group" onclick="addGroup()" class="btn btn-default" />
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label class="control-label">Groups</label>
                <select name="selected_groups" class="form-control" multiple>
                    @foreach (var g in Groups)
                    {
                        @if (Model.TblEmailGroupMapping.FirstOrDefault(x => x.MailingGroup == g.Key) != null)
                        {
                            <option value="@g.Key" selected>@g.Value</option>
                        }
                        else
                        {
                            <option value="@g.Key">@g.Value</option>
                        }

                    }
                </select>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<partial name="~/ModalPartialViews/_Input.cshtml" />
<partial name="~/ModalPartialViews/_Alert.cshtml" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">

        function addGroup() {

            input_modal("Add New Mailing Group", "Enter Group Name", function () {

                //ajax

                $.ajax({
                        url: '@Url.Action("CreateGroup", "MailingLists")',
                        dataType: 'json',
                        async: false,
                        type: 'POST',
                        data: { _group: $inputModalVal },
                        success: function (data) {
                            if (data.IsSuccessful) {

                                //alert_modal("Covid19 Test Result Approved.", function () {
                                    location.reload();
                                //});

                            }
                            else {
                                alert_modal(data.Message);
                            }
                        },
                        error: function (err) { console.log(JSON.stringify(err)); }
                    });


                //end ajax

            }, "^.{5,}$", "Minimum length 5!");


        }

    </script>


}
